<div class="wrap">
        <form name="input" action="#" method="POST" id='form_with_text' class="form">
          <p><textarea rows="5" cols="30" name="text" class="textarea" placeholder="Input paragraph here"></textarea></p>
          <p><input type="submit" value="Check" class="btn"></p>
        </form>
  <div style="clear: both;"></div>
  <div class='result'></div>

</div>
